@page
@model qimeek.Pages.DirectoriesModel

<div class="text-center">
    @foreach (Directory subDirectory in @Model.SubDirectories)
    {
        <div class="row">
            <a href="Directories?id=@subDirectory.Id">@subDirectory.Name</a>
</div>
    }

    @foreach (Bookmark bookmark in @Model.Bookmarks)
    {
        <div class="row">
            <a href="@bookmark.Url" target="_blank">
                <img class="thumbnail" alt="chargement de l'image..." src="@Model.Config.ThumbnailProviderUrl@bookmark.Url" />
            </a>
            @bookmark.Title
        </div>
    }
</div>

@section ThumbnailProviderLink{ - Screenshots by <a href="@Model.ThumbnailProviderLink" onclick="this.target='_blank'">Robothumb</a> }
